* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
}
html {
  font-size: 10px;
  /* 1rem = 10px */
}
h1 {
  font-size: 3rem;
}
p {
  font-size: 1.7rem;
  font-style: italic;
}
label {
  font-size: 1.7rem;
}
body {
  overflow-x: hidden;
  background-color: rgb(29, 28, 28);
}
main {
  background-color: rgba(0, 0, 0, 0.658);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back {
  z-index: -1;
  position: absolute;
  height: 100vh;
  width: 600vw;
  background: url("https://i.pinimg.com/originals/b6/bc/a9/b6bca984713e9dcd0b9e94bdd40c3261.jpg")
    repeat-x;
  background-attachment: fixed;
  background-size: 200vh;
  filter: blur(1rem);
  animation: back 60s linear infinite alternate-reverse;
  overflow-x: hidden;
}
.title {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 118, 1) 50%,
    rgba(10, 146, 173, 1) 100%
  );
  color: aliceblue;
  padding: 3rem;
  text-align: center;
  display: block;
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  margin-bottom: 2rem;
}
.form {
  background-color: aliceblue;

  line-height: 2;
  min-width: 60%;
  max-width: 80%;
  margin: 5rem 0rem;
  border-radius: 0.5rem;
}
form {
  padding: 1rem;
}

input,
button,
select,
textarea {
  margin: 0;

  font-family: inherit;
  font-size: 1.6rem;
}
.input,
textarea,
button {
  width: 100%;
  padding: 1rem 0rem;
  margin-bottom: 2rem;
  background-color: aliceblue;
  border: none;
}
.input {
  border-bottom: #0a92ad 0.3rem solid;
}
textarea {
  border: #0a92ad 0.3rem solid;
}
input[type="number"] {
  appearance: textfield;
}
.input:focus {
  border-bottom: #051531 0.3rem solid;
}
.radio,
.checkbox {
  margin-bottom: 2rem;
}
button {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 118, 1) 50%,
    rgba(10, 146, 173, 1) 100%
  );
  border-radius: 0.5rem;
  color: aliceblue;
  font-weight: bold;
}
button:hover {
  animation: color 0.05s linear forwards;
}
@keyframes color {
  0% {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 121, 118, 1) 50%,
      rgba(10, 146, 173, 1) 100%
    );
  }
  50% {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(9, 121, 118, 1) 0%,
      rgba(2, 0, 36, 1) 50%,
      rgba(10, 146, 173, 1) 100%
    );
  }
  100% {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(10, 146, 173, 1) 0%,
      rgba(9, 121, 118, 1) 50%,
      rgba(2, 0, 36, 1) 100%
    );
  }
}

@keyframes back {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: 500px;
  }
}

@media (max-width: 726) {
  .form {
    min-width: 100vw;
    min-height: 100vh;
  }
}

@media (max-width: 460px) {
  h1 {
    font-size: 1.8rem;
  }
  p {
    font-size: 1.3rem;
  }
  label,
  input,
  button,
  select,
  textarea {
    font-size: 1.2rem;
  }
  .form {
    min-width: 100%;
    margin: 0rem;
    padding: 0;
  }
}
